.header {
    background-color: #562EFF;
    display: flex;
    padding: 20px 150px;
    font-family: 'Poppins', sans-serif;
    color: lightgoldenrodyellow;
    align-items: center;
    
}

.logo-area {
    display: flex;
}
.logo-area img {
    width: 9%;
    height: auto;
    margin-right: 10px;
}
.logo-area h1 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.navbar ul {
    display: flex;
}
.navbar ul li {
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
    list-style: none;

}
.navbar ul li:hover {
    color:aqua
}
.second-half {
    display: flex;
    flex-direction: flex-end;
}
.nav-img {
    width: 5%;
    height: 5%;
}